<vk-container id="mainKeyboard">
  
  <div class="table-row">

    <div class="main-keyboard table-cell">
      <div class="keyboard-row">
        <vk-key code="Escape" key="Escape" key-code="27" label="Esc"></vk-key>
        <vk-key code="F1" key="F1" key-code="112" label="F1"></vk-key>
        <vk-key code="F2" key="F2" key-code="113" label="F2"></vk-key>
        <vk-key code="F3" key="F3" key-code="114" label="F3"></vk-key>
        <vk-key code="F4" key="F4" key-code="115" label="F4"></vk-key>
        <vk-key code="F5" key="F5" key-code="116" label="F5"></vk-key>
        <vk-key code="F6" key="F6" key-code="117" label="F6"></vk-key>
        <vk-key code="F7" key="F7" key-code="118" label="F7"></vk-key>
        <vk-key code="F8" key="F8" key-code="119" label="F8"></vk-key>
        <vk-key code="F9" key="F9" key-code="120" label="F9"></vk-key>
        <vk-key code="F10" key="F10" key-code="121" label="F10"></vk-key>
        <vk-key code="F11" key="F11" key-code="122" label="F11"></vk-key>
        <vk-key code="F12" key="F12" key-code="123" label="F12"></vk-key>
        <vk-key code="PrintScreen" key="PrintScreen" key-code="44" label="PrtSc"></vk-key>
        <vk-key code="ScrollLock" key="ScrollLock" key-code="145" label="ScrLk"></vk-key>
        <vk-key code="Pause" key="Pause" key-code="19" label="Pause"></vk-key>
      </div>
      <div class="keyboard-row">
        <vk-key code="Backquote" key="`" key-code="192" shift-key="~" shift-code="Backquote"
          shift-key-code="126"></vk-key>
        <vk-key code="Digit1" key="1" key-code="49" shift-key="!" shift-code="Digit1"
          shift-key-code="33"></vk-key>
        <vk-key code="Digit2" key="2" key-code="50" shift-key="@" shift-code="Digit2"
          shift-key-code="64"></vk-key>
        <vk-key code="Digit3" key="3" key-code="51" shift-key="#" shift-code="Digit3"
          shift-key-code="35"></vk-key>
        <vk-key code="Digit4" key="4" key-code="52" shift-key="$" shift-code="Digit4"
          shift-key-code="36"></vk-key>
        <vk-key code="Digit5" key="5" key-code="53" shift-key="%" shift-code="Digit5"
          shift-key-code="37"></vk-key>
        <vk-key code="Digit6" key="6" key-code="54" shift-key="^" shift-code="Digit6"
          shift-key-code="94"></vk-key>
        <vk-key code="Digit7" key="7" key-code="55" shift-key="&" shift-code="Digit7"
          shift-key-code="38"></vk-key>
        <vk-key code="Digit8" key="8" key-code="56" shift-key="*" shift-code="Digit8"
          shift-key-code="42"></vk-key>
        <vk-key code="Digit9" key="9" key-code="57" shift-key="(" shift-code="Digit9"
          shift-key-code="40"></vk-key>
        <vk-key code="Digit0" key="0" key-code="48" shift-key=")" shift-code="Digit0"
          shift-key-code="41"></vk-key>
        <vk-key code="Minus" key="-" key-code="189" shift-key="_" shift-code="Minus"
          shift-key-code="95"></vk-key>
        <vk-key code="Equal" key="=" key-code="187" shift-key="+" shift-code="Equal"
          shift-key-code="43"></vk-key>
        <vk-key code="Backspace" key="Backspace" key-code="8" label="Backspace"></vk-key>
      </div>
      <div class="keyboard-row">
        <vk-key code="Tab" key="Tab" key-code="9" label="Tab"></vk-key>
        <vk-key code="KeyQ" key="q" key-code="81" shift-key="Q"></vk-key>
        <vk-key code="KeyW" key="w" key-code="87" shift-key="W"></vk-key>
        <vk-key code="KeyE" key="e" key-code="69" shift-key="E"></vk-key>
        <vk-key code="KeyR" key="r" key-code="82" shift-key="R"></vk-key>
        <vk-key code="KeyT" key="t" key-code="84" shift-key="T"></vk-key>
        <vk-key code="KeyY" key="y" key-code="89" shift-key="Y"></vk-key>
        <vk-key code="KeyU" key="u" key-code="85" shift-key="U"></vk-key>
        <vk-key code="KeyI" key="i" key-code="73" shift-key="I"></vk-key>
        <vk-key code="KeyO" key="o" key-code="79" shift-key="O"></vk-key>
        <vk-key code="KeyP" key="p" key-code="80" shift-key="P"></vk-key>
        <vk-key code="BracketLeft" key="[" key-code="219" shift-key="{" shift-code="BracketLeft"
          shift-key-code="123"></vk-key>
        <vk-key code="BracketRight" key="]" key-code="221" shift-key="}" shift-code="BracketRight"
          shift-key-code="125"></vk-key>
        <vk-key code="Backslash" key="\" key-code="220" shift-key="|" shift-code="Backslash"
          shift-key-code="124"></vk-key>
      </div>
      <div class="keyboard-row">
        <vk-key code="CapsLock" key="CapsLock" key-code="20" label="Caps Lock"></vk-key>
        <vk-key code="KeyA" key="a" key-code="65" shift-key="A"></vk-key>
        <vk-key code="KeyS" key="s" key-code="83" shift-key="S"></vk-key>
        <vk-key code="KeyD" key="d" key-code="68" shift-key="D"></vk-key>
        <vk-key code="KeyF" key="f" key-code="70" shift-key="F"></vk-key>
        <vk-key code="KeyG" key="g" key-code="71" shift-key="G"></vk-key>
        <vk-key code="KeyH" key="h" key-code="72" shift-key="H"></vk-key>
        <vk-key code="KeyJ" key="j" key-code="74" shift-key="J"></vk-key>
        <vk-key code="KeyK" key="k" key-code="75" shift-key="K"></vk-key>
        <vk-key code="KeyL" key="l" key-code="76" shift-key="L"></vk-key>
        <vk-key code="Semicolon" key=";" key-code="186" shift-key=":" shift-code="Semicolon"
          shift-key-code="58"></vk-key>
        <vk-key code="Quote" key="'" key-code="222" shift-key='"' shift-code="Quote"
          shift-key-code="34"></vk-key>
        <vk-key code="Enter" key="Enter" key-code="13" label="Enter"></vk-key>
      </div>
      <div class="keyboard-row">
        <vk-key code="ShiftLeft" key="Shift" key-code="16" label="Shift"></vk-key>
        <vk-key code="KeyZ" key="z" key-code="90" shift-key="Z"></vk-key>
        <vk-key code="KeyX" key="x" key-code="88" shift-key="X"></vk-key>
        <vk-key code="KeyC" key="c" key-code="67" shift-key="C"></vk-key>
        <vk-key code="KeyV" key="v" key-code="86" shift-key="V"></vk-key>
        <vk-key code="KeyB" key="b" key-code="66" shift-key="B"></vk-key>
        <vk-key code="KeyN" key="n" key-code="78" shift-key="N"></vk-key>
        <vk-key code="KeyM" key="m" key-code="77" shift-key="M"></vk-key>
        <vk-key code="Comma" key="," key-code="188" shift-key="&lt;" shift-code="Comma"
          shift-key-code="60"></vk-key>
        <vk-key code="Period" key="." key-code="190" shift-key="&gt;" shift-code="Period"
          shift-key-code="62"></vk-key>
        <vk-key code="Slash" key="/" key-code="191" shift-key="?" shift-code="Slash"
          shift-key-code="63"></vk-key>
        <vk-key code="ShiftRight" key="Shift" key-code="16" label="Shift"></vk-key>
      </div>
      <div class="keyboard-row">
        <vk-key code="ControlLeft" key="Control" key-code="17" label="Ctrl"></vk-key>
        <vk-key code="MetaLeft" key="Meta" key-code="91" label="Win"></vk-key>
        <vk-key code="AltLeft" key="Alt" key-code="18" label="Alt"></vk-key>
        <vk-key code="Space" key=" " key-code="32" label="Space"></vk-key>
        <vk-key code="AltRight" key="Alt" key-code="18" label="Alt"></vk-key>
        <vk-key code="MetaRight" key="Meta" key-code="92" label="Win"></vk-key>
        <vk-key code="ContextMenu" key="ContextMenu" key-code="93" label="Menu"></vk-key>
        <vk-key code="ControlRight" key="Control" key-code="17" label="Ctrl"></vk-key>
      </div>
      <div class="keyboard-row">
        <vk-key code="Insert" key="Insert" key-code="45" label="Ins"></vk-key>
        <vk-key code="Home" key="Home" key-code="36" label="Home"></vk-key>
        <vk-key code="PageUp" key="PageUp" key-code="33" label="PgUp"></vk-key>
        <vk-key code="Delete" key="Delete" key-code="46" label="Del"></vk-key>
        <vk-key code="End" key="End" key-code="35" label="End"></vk-key>
        <vk-key code="PageDown" key="PageDown" key-code="34" label="PgDn"></vk-key>
        <vk-key code="ArrowLeft" key="ArrowLeft" key-code="37" label="←"></vk-key>
        <vk-key code="ArrowDown" key="ArrowDown" key-code="40" label="↓"></vk-key>
        <vk-key code="ArrowRight" key="ArrowRight" key-code="39" label="→"></vk-key>
        <vk-key code="ArrowUp" key="ArrowUp" key-code="38" label="↑"></vk-key>
      </div>
    </div>
    <div class="numeric-keypad keyboard-section">

      <div class="keyboard-row">
        <vk-key code="NumLock" key="NumLock" key-code="144" label="Num"></vk-key>
        <vk-key code="NumpadDivide" key="/" key-code="111" label="/"></vk-key>
        <vk-key code="NumpadMultiply" key="*" key-code="106" label="*"></vk-key>
        <vk-key code="NumpadSubtract" key="-" key-code="109" label="-"></vk-key>
      </div>

      <div class="keyboard-row">
        <vk-key code="Numpad7" key="7" key-code="103" label="7" shift-key="Home"></vk-key>
        <vk-key code="Numpad8" key="8" key-code="104" label="8" shift-key="Up"></vk-key>
        <vk-key code="Numpad9" key="9" key-code="105" label="9" shift-key="PageUp"></vk-key>
        <vk-key code="NumpadAdd" key="+" key-code="107" label="+"></vk-key>
      </div>

      <div class="keyboard-row">
        <vk-key code="Numpad4" key="4" key-code="100" label="4" shift-key="Left"></vk-key>
        <vk-key code="Numpad5" key="5" key-code="101" label="5"></vk-key>
        <vk-key code="Numpad6" key="6" key-code="102" label="6" shift-key="Right"></vk-key>
      </div>

      <div class="keyboard-row">
        <vk-key code="Numpad1" key="1" key-code="97" label="1" shift-key="End"></vk-key>
        <vk-key code="Numpad2" key="2" key-code="98" label="2" shift-key="Down"></vk-key>
        <vk-key code="Numpad3" key="3" key-code="99" label="3" shift-key="PageDown"></vk-key>
        <vk-key code="NumpadEnter" key="Enter" key-code="13" label="Enter"></vk-key>
      </div>

      <div class="keyboard-row">
        <vk-key code="Numpad0" key="0" key-code="96" label="0" shift-key="Insert"></vk-key>
        <vk-key code="NumpadDecimal" key="." key-code="110" label="." shift-key="Delete"></vk-key>
      </div>

    </div>

  </div>

</vk-container>